@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;800;900&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055,#7597de);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;

}

header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover{
    background: #fff;
    color: #2b1055;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon{
    mix-blend-mode: screen;
}
section img#mountains_front{
    z-index: 10;
}
#text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 4vw;
    z-index: 9;

}
.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}
.sec h2{
    font-size: 3.5em;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;

}
.sec p{
    font-size: 1.5em;
    color: #fff;
}
